:root{
    --color-primary: #5E73FF;
    --color-primary-lighter: rgba(94, 115, 255, 0.30);
    --color-error: #eb5757;
    --color-success: #4AD150;
    --color-warning: #FF9F43;
    --color-white: #FFFFFF;
    --color-black: #2F2C35;
    --color-CF6: #F6F6F6;
    --color-CF1: #F1F0F5;
    --color-CF3: #f3f4ff;
    --color-C9A: #9A9A9A;
    --color-CDD: #DDDDE8;
    --color-CFF: #fff3f3;
    --color-CEA: #eae9eb;
    --color-CD1: #1d1d1d;

    --base-padding: 18px;

    --base-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
}